<footer id="footer">

    <mat-card id="footer__card">
      <mat-card-header class="footer-header">
        <mat-card-title class="footer-title">Recursos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="footer-content">
        <mat-list role="list">
          <mat-list-item class="listitem"><a href="https://angular.io/about">Acerca de</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://angular.io/resources">Listado de recursos</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://angular.io/presskit">Carpeta de prensa</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://blog.angular.io/">Blog</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://angular.io/analytics">Analisis de uso</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card id="footer__card">
      <mat-card-header class="footer-header">
        <mat-card-title class="footer-title">Ayuda</mat-card-title>
      </mat-card-header>
      <mat-card-content class="footer-content">
        <mat-list role="list">
          <mat-list-item class="listitem"><a href="https://stackoverflow.com/questions/tagged/angular">Desbordamiento de pila</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://discord.gg/angular">Únete a discord</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://gitter.im/angular/angular">Gitter</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://github.com/angular/angular/issues">Informar de problemas</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md">Código de conducta</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card id="footer__card">
      <mat-card-header class="footer-header">
        <mat-card-title class="footer-title">Comunidad</mat-card-title>
      </mat-card-header>
      <mat-card-content class="footer-content">
        <mat-list role="list">
          <mat-list-item class="listitem"><a href="https://angular.io/events" >Eventos</a></mat-list-item>
          <mat-list-item class="listitem"><a href="http://www.meetup.com/topics/angularjs/">Meetups</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://twitter.com/angular">Gorjeo</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://github.com/angular/angular">GitHub</a></mat-list-item>
          <mat-list-item class="listitem"><a href="https://angular.io/contribute">Contribuir</a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
  </footer>
  
  